<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Blog</title>
</head>

<body>
    <!-- <div class="header">
        <p>dfgsg</p>
    </div> -->
    <img src="/images/pexels-pixabay-262508.jpg" alt="blog image" id="headerimg">
    <h1>hello this is blog website</h1>

</body>

</html>